@media (max-width: 1000px) {

    .navbar-list{
        flex-direction: column;
        z-index: 3;
        align-self: center;
        position: absolute;
        top: 100px;
        width: 300px;
        text-align: center;
        padding: 40px 0px;
        background: white;
        display: none;
    
    }

    .navbar{
        justify-content: end;
        width: 100%;
    }

    

    .navbar-list::after{
        content: "";
        position: absolute;
        z-index: 3;
        top: -20px;
        right: 0px;
        height: 20px;
        border-right: 20px solid white;
        border-top: 20px solid transparent;
        width: 20px;

    }

    .navbar-list a{
        color: var(--Grayish-blue);
    }

    .navbar-list span{
       background-color: var(--Yellow);
    }

    .nav-menu{
        display: flex;
    }

    

    .grid-services{
        grid-template-areas: 
        "brand"
        "egg"
        "audience"
        "cup"
        "graphic"
        "photo"
        ;

        grid-template-columns: 100%;

        .img-egg{grid-area: egg};
        .img-cup{grid-area: cup};
        .brand{grid-area: brand};
        .audience{grid-area: audience};
        .graphic{grid-area: graphic};
        .photo{grid-area: photo};
       
    }


    

}

@media (max-width: 700px) {

    .logo-creative{
        font-size: 28px;
    }

    .clients-container{
        flex-wrap: wrap;
        gap: 50px;
    }

    .grid-text{
        padding: 0 30px;
        align-items: center;
        text-align: center;
        h3{
            font-size: 20px;
        }

        p{
            font-size: 14px;
        }
    }

    .grid-last-row{
        padding: 180px 80px 80px 80px;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 12px;
        }
    }

    .images{
        height: 800px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 570px) {
    .logo-creative{
        font-size: 22px;
    }

    .top{
        align-self: center;
    }

    .navbar{
            width: auto;

    }

}


.open{
    display: flex;
}

